# Auto detect text files and perform LF normalization
* text=auto
<h3>hello my name is: </h3>

<h1> Mohamed Falih Ahmed Ali</h1>
<ul>
 <ol>i like </ol>
<ol>games </ol>
<ol>to draw</ol>
<p>i am currently studying at jamaluddin school in male city. i am currently studying at class 7f. i like to draw, play games and have fun.  </p>
</ul>